<div [@pageTransition]>
    <section class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-emerald-500 to-emerald-700 px-3 py-2 text-white">
                <span class="bi bi-clock-history text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Cumul Temps de Presence</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-orange-500 to-orange-700 px-3 py-2 text-white">
                <span class="bi bi-folder2-open text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Contrat en Cours</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-violet-500 to-violet-700 px-3 py-2 text-white">
                <span class="bi bi-folder-x text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Fin de Contrat</p>
            </div>
        </div>
        <div class="card flex items-center gap-3">
            <div class="rounded-lg bg-gradient-to-br from-cyan-500 to-cyan-700 px-3 py-2 text-white">
                <span class="bi bi-hourglass-split text-3xl"></span>
            </div>
            <div>
                <p class="text-md text-gray-400">Kangouru</p>
            </div>
        </div>
    </section>

    <div class="my-5"></div>
    
<section class="container mx-auto mt-10 w-11/12 rounded-lg bg-white p-4 shadow-lg">
        <h2 class="mb-4 text-xl font-bold">Contrats en Cours</h2>
        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                    <tr>
                        <th class="bg-gray-200 px-4 py-2">Nom</th>
                        <th class="bg-gray-200 px-4 py-2">Prénom</th>
                        <th class="bg-gray-200 px-4 py-2">Matricule</th>
                        <th class="bg-gray-200 px-4 py-2">Poste</th>
                        <th class="bg-gray-200 px-4 py-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="border px-4 py-2">Dupont</td>
                        <td class="border px-4 py-2">Jean</td>
                        <td class="border px-4 py-2">12345</td>
                        <td class="border px-4 py-2">Développeur</td>
                        <td class="border px-4 py-2 text-center">
                            <button class="mr-6 rounded bg-blue-500 px-4 py-2 font-bold text-white transition delay-150 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-700 hover:bg-indigo-500">Détails</button>
                            <button class="duration-300ml-6 rounded bg-blue-500 bg-red-500 px-4 py-2 font-bold text-white transition delay-150 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 hover:bg-red-700">Rompre</button>
                        </td>
                    </tr>
                    <!-- Ajouter d'autres lignes de contrat en cours ici -->
                </tbody>
            </table>
        </div>
    </section>
</div>